<!-- include header -->
    <%- include('./partials/header') %>
    
    <button id="btn">Click me</button>

    <h1>Hello ji</h1>
    <p>
        Kaise ho mere pyare desh wasiyon
    </p>

    <!-- include footer -->

    <%- include('./partials/footer') %>