section{
    width: 60%;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}

h2{
    font-size: 50px;
    text-align: center;
}
/* @media all and (max-width:807px){
    h2{
        color:salmon;
        font-size: 2.4rem;
    }
}
@media all and (max-width:649px){
    h2{
        color:blueviolet;
        font-size: 2rem;
        text-transform: uppercase;
    }
} */

/* @media all and (min-width:649px){
    h2{
        color:blueviolet;
        font-size: 2rem;
        text-transform: uppercase;
    }
}
@media all and (min-width:807px){
    h2{
        color:salmon;
        font-size: 2.4rem;
    }
} */


/* @media all and (orientation:landscape){
    h2{
        color:yellow;
    }
} */

/* @media all and (orientation:portrait){
    h2{
        color:pink;
    }
} */

@media screen and (orientation: landscape) , (max-width:600px){
    h2{
        color: yellow;
    }
}