<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UnFlipkart</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/home_style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="w-75 container-fluid p-2 ">
      <img class="navbar-brand" src="./Assets/logo.png" alt="Logo Hai Yaha">

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-lg-0  ">
          <li class="nav-item align-self-center">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item align-self-center">
            <a class="nav-link " href="forms.html">Products</a>
          </li>
          <% if(!currentUser) { %>

            <li class="nav-item align-self-center">
              <a class="nav-link " href="forms.html">Login</a>
            </li>
            <li class="nav-item align-self-center">
              <a class="nav-link " href="forms.html">Register</a>
            </li>

            <% } else { %>

              <li class="nav-item align-self-center">
                <a class="nav-link " href="forms.html">Sign Out</a>
              </li>
              <%}%>

        </ul>

      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>


  <main class="main px-3">
    <h1>UnFlipTheKart</h1>
    <p class="lead"> Welcome to UnFlipTheKart! <br> Jump right in and explore our many products. <br>
        Feel free to add some of your own and comment on others!</p>
    <a href="/products" class="btn btn-sm btn-secondary font-weight-bold ">View
        Products</a>
</main>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>