<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Yeh html nahi ejs hai</h1>

    <!-- ejs you can write js as well -->

    <p>
        Hello ejs kaise ho khana khaa ke jaana
    </p>
</body>
</html>