body{
    width:100vw;
    height:100vh;
    background-color: blue;
}

@media screen and (max-width:800px){
    body{
        background-color: brown;
    }
}
/* @media screen and (min-width:200px){
    body{
        background-color: chartreuse;
    }
} */


@media screen and (max-width:900px){
    body{
        background-color: aqua;
    }
}

@media screen and (max-width:600px){
    body{
        background-color: coral;
    }
}
